IO_LOC "tmds_d_p_0[0]" AB24,AC24;
IO_PORT "tmds_d_p_0[0]" IO_TYPE=LVCMOS33D PULL_MODE=NONE DRIVE=8;
IO_LOC "tmds_d_p_0[1]" V24,W24;
IO_PORT "tmds_d_p_0[1]" IO_TYPE=LVCMOS33D PULL_MODE=NONE DRIVE=8;
IO_LOC "tmds_d_p_0[2]" AA22,AA23;
IO_PORT "tmds_d_p_0[2]" IO_TYPE=LVCMOS33D PULL_MODE=NONE DRIVE=8;
IO_LOC "tmds_clk_p_0" Y22,Y23;
IO_PORT "tmds_clk_p_0" IO_TYPE=LVCMOS33D PULL_MODE=NONE DRIVE=8;